    * {
        padding: 0;
        border: 0;
    }
    
    body {
        line-height: 1;
        font-family: 'Open Sans', sans-serif;
        background-color: #FAF5F5;
        margin: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    header {
        width: 100%;
        background: #fff;
        position: fixed;
    }
    
    nav {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 1px;
    }
    
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #logo {
        width: 90px;
    }
    
    .itens-menu {
        text-decoration: none;
        width: auto;
        margin-left: 30px;
        color: #212121;
        font-weight: bold;
    }
    
    .itens-menu:hover {
        /* color: #57a4ff; */
        color: #F06161;
    }
    
    .iten-do-menu {
        display: flex;
        align-items: center;
        margin-left: 500px;
        width: auto;
        height: 100%;
        font-weight: bold;
        color: #212121;
    }
    
    .ver-produtos a {
        color: #212121;
    }
    
    .cadastre-produtos {
        border: none;
        width: 200px;
        margin-left: 50px;
        height: 100%;
        background-color: #F06161;
        cursor: pointer;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    section {
        width: 100%;
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        background-color: #70CB50;
        border: none;
        color: white;
        padding: 14px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
    }
    
    .button {
        background-color: #F06161;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .button:hover {
        background-color: #f12f2f;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    footer {
        background-color: #F06161;
        height: 300px;
        color: #fff;
        display: flex;
        justify-content: space-around;
    }
    
    .itens-footer {
        margin-top: 5%;
    }
    
    .itens-footer-direitos {
        margin-top: 15%;
    }
    
    .logo-footer {
        height: 50px;
    }