<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>
	<link th:href="@{/../css/produto.css}" rel="stylesheet" />
	<title> sischef </title>
</head>
	<body>

    <header>
        <nav>
            <ul>
                <img id="logo" class="itens-menu" src="../imagens/logoSischef.png" alt="logo tipó do Sischef" href="/">
                <a class="itens-menu" href="/"> Home </a>
                <a class="itens-menu" href="#cardapio"> Cardápio </a>
                <a class="itens-menu" href="#contato"> Contato </a>
            </ul>

            <div class="iten-do-menu">
                <div class="ver-produtos">
                    <a href="/produto"> Ver produtos </a>
                </div>

                <a class="cadastre-produtos" href="/cadastro-produto">
                    <span>
                        Cadastre o produto
                    </span>
                </a>
            </div>
        </nav>
    </header>


    <section>
   
        <table id="tabela" >
            <tr class="row">
                <td><span> Id </span></td>
                <td><span> Nome </span></td>
                <td><span> Categoria </span></td>
                <td><span> Preço </span></td>
                <td><span> Editar </span></td>
                <td><span> Apagar </span></td>
            </tr>
            <tr th:each="produtos: ${produto}">
                <th><span th:text="${produtos.id}"></span></th>
                <th><span th:text="${produtos.nome}"></span></th>
                <th><span th:text="${produtos.categoria}"></span></th> 
                <th><span th:text="${produtos.preco}"></span></th>
				<th><a class="buttonEditar" th:href="@{/editar-produto/{id} (id=${produtos.id})}"> editar </a></th>
				<th><a class="buttonApagar" th:href="@{'deletar-produto?id=' + ${produtos.id}}" > apagar </a></th>                
            </tr>
        </table>

        <a href="/" class="button"> voltar</a>
    </section>


    <footer>
        <div id="endereco-footer" class="itens-footer">
            <img class="logo-footer" src="../imagens/logoFooterFacebook.png" alt="logo do facebook">

            <img class="logo-footer" src="../imagens/logoFooterInstagram.png" alt="logo do instagram">

            <img class="logo-footer" src="../imagens/logoFooterWpp.png" alt="logo do whatsapp">
        </div>

        <div id="contato-footer" class="itens-footer-direitos">

            <p>
                @Sischef todos os direitos reservados
            </p>
        </div>

        <div id="redes-sociais-footer" class="itens-footer">
            <img class="logo-footer" src="../imagens/logoSischef.png" alt="logo do Sischef" href="/">

        </div>
    </footer>
    
	
	</body>
</html>